<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/nukehome.css' />
  </head>
  <body ng-controller="AppController as app">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Nuke Home</span>
      </h2>
    </div>
  </md-toolbar>
    {{{body}}}
    <script src="/js/nukehome.js"></script>
  </body>
</html>
